.footer {
  margin-top: auto;
  padding-top: 18px;
  color: var(--text-tertiary);
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 18px;
}
